nav ul {
  background-color: lightblue;
  display: flex;
  justify-content: space-around;
}
nav ul li {
  list-style-type: none;
  padding: 10px;
  width: 100%;
}

body {
  text-align: center;
  font-family: Inter, sans-serif;
}

nav ul {
  display: flex;
  justify-content: space-around;
  list-style: none;
  padding: 0;
}

nav a {
  color: rgb(41, 41, 41);
  text-decoration: none;
}

nav a:hover {
  color: white;
}

nav ul {
  background-color: lightgrey;
  display: flex;
  justify-content: space-around;
  border-radius: 10px;
}

nav ul li {
  list-style-type: none;
  padding: 10px;
  width: 100%;
}

nav {
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
  background: linear-gradient(90deg, #3c3c3c, #414141);
  margin: 20px;
  border-color: rgb(146, 146, 146);
  border-radius: 10px;
}

#nav:hover,
nav:hover {
  transform: translateY(-10px);
}

#nav,
nav {
  color: white;
}

.section-1{
  padding: 25px;
  background-color: #F5F5F7;
}

.section-2{
  padding: 25px;
  background-color: black;
}

.section-2> h1{
  color: white;
}

.section-2> h2{
  color: white;
}

.section-3{
  padding: 25px;
  background-color: #FAFAFA;

}
.section-1 img, .section-2 img, .section-3 img{
  width: 100%;
}

.section-4{
  display: flex;
  justify-content: space-between;
  }

  .section-4>img{
    border: solid;
    display: flexbox;
  }

  .section-3>img{
    padding: 20px;
  }
  .main-content{
    width: 1500px;
  }
