<style > #myFooter,
footer {
  background-color: rgb(202, 242, 255);
  color: black;
  padding: 40px;
  text-align: center;
  opacity: 0.5;
  margin: 20px;
  border-width: 5px;
  border-color: rgb(202, 202, 202);
}
</style > </style > <style > body {
  text-align: center;
  font-family: Inter, sans-serif;
}
nav ul {
  background-color: lightblue;
  display: flex;
  justify-content: space-around;
}
nav ul li {
  list-style-type: none;
  padding: 10px;
  width: 100%;
}
